.container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    
}

.container-left{
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 80vw;
    
}

.container-left-text{
    height: 40vw;
    width: 20vw;
    margin-top: 150px;
    color: white;
    
}

.container-left-text-name{
    font-family: 'Courier New', Courier, monospace;
}
.container-left-text-content{
    text-align: center;
    font-size: 70px;
}


.container-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: start; */
    width: 50vw;
    height: 80vw;
    
}
.container-right-img{
    margin-top: 10%;
    width: 25vw;
    height: 35vw;
}
.profile-img{

    height: 100%;
    width: 100%;
    border-radius: 20px;

}